.git
.env
.env.*
!.env.example
php8/
vendor/
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
composer.phar
*.md
tests/
.phpunit*
node_modules/
